html {
    width: 1440px;
    font-family: Raleway, sans-serif;
    background-color: hsl(229, 57%, 11%);
    background-position: bottom;
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
}
.container_all {
    width: 75%;
    margin-top: 280px;
    margin-bottom: 280px;
    display: flex;
    justify-content: space-around;
    background-color: springgreen;
}
.container_left, .container_right {
    background-color: hsl(228, 56%, 26%);
    color: white;
}
.container_left {
    width: 32%;
    height: 180px;
    border-radius: 10px 100px 10px 10px;
}
    .logo_fylo {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 40px;
    }
    .container_icons {
        display: flex;
        width: 48%;
        justify-content: space-between;
        margin-left: 40px;
        margin-top: 15px;
    }
        .icon_design {
            background-color: hsl(229, 57%, 11%);
            border-radius: 7px;
            width: 45px;
            height: 45px;
            line-height: 40px;
            text-align: center;
        }
        .img-logo {
            vertical-align: middle;
        }