* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    background: hsl(218, 28%, 13%);
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6rem;
}
body {
    clear: both;
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}
h1 {
    font-size: 2.5em;
}
p {
    opacity: 0.66;
}
.header {
    width: 100%;
    height: 100px;
    margin-top: -120px;
    position: fixed;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 10000;
}
    .header_logo {
        display: inline-block;
    }
        .header_logo img {
            width: 60%;
            margin-left: 30px;
            margin-top: 30px;
        }
    .header_links {
        position: absolute;
        right: 0;
        top: 0;
        margin: 40px 45px;
    }
        .header_links a {
            color: white;
            opacity: 0.7;
            padding: 0 10px;
            margin-left: 30px;
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
        }
        .header_links a:hover {
            opacity: 1;
            font-size: 1.2rem;
            text-decoration: underline;
            transition:  0.3s;
        }
.img_intro {
    text-align: center;
    margin: 120px 0 30px;
}
    .img_intro img {
        width: 50%;
    }
.intro {
    width: 50%;
    margin: 0 auto 100px;
    text-align: center;
}
    .intro p {
        width: 70%;
        margin: 0 auto;
        font-size: 1.2rem;
    }
    .intro a {
        margin: 30px auto 50px;
        display: inline-block;
        border-radius: 30px;
        font-size: 0.9rem;
        background: linear-gradient(to right,
        hsl(176, 68%, 64%) ,
        hsl(198, 60%, 50%)
        );
        padding: 0.8em 5em;
        color: white;
        text-decoration: none;
    }
        .intro a:hover {
            background: hsl(176, 68%, 75%); /* ! TROUVER LA BONNE COULEUR*/
            font-size: 1.2rem;
            transition: 1s;
        }
.marketing {
    text-align: center;
    margin-bottom: 200px;
}
    .container_marketing {
        display: inline-block;
        width: 25%;
        margin: 0 3% 30px 7%;
        text-align: center;
    }

.productive {
        display: flex;
        margin: 0 5% 150px 0;
    }
    .productive_img {
        width: 60%;
    }
        .productive_img img {
            width: 100%;
        }
    .productive_text {
        margin-left: 5%;
        align-self: center;
    }
        .productive_text h1 {
            margin-right: 40%;
            line-height: 1.3em;
        }
        .productive_text p {
            margin-right: 22%;
        }
        .link {
            color: hsl(176, 68%, 64%);
        }
        .productive_text a {
            text-decoration: none;
            color: hsl(176, 68%, 64%);
            padding-bottom: 0.3em;
            border-bottom: solid 0.1em hsl(176, 68%, 64%);
        }
            .productive_text a::after {
                content: '';
                display: inline-block;
                background: url(images/icon-arrow.svg) center center /contain no-repeat;
                width: 16px;
                height: 16px;
                vertical-align: middle;
            }
            .productive_text a:hover {
                color: white;
                border-bottom: solid 0.1em white;
            }

.testimonials {
    display: flex;
    justify-content: space-around;
    margin: 0 5% 150px;
    position: relative;
}
    .testimonial {
        width: 29%;
        background: hsl(219, 30%, 18%)
    }
        .testimonial p:first-child, .testimonial:first-child > p {
            margin: 35px 55px 30px 20px;
        }
        .profil_photo{
            width: 10%;
            float: left;
            border-radius: 50%;
            margin: 5px 10px 0 20px;
        }
        .testimonial h3, .testimonial p:last-child {
            margin: 0;
        }
        .testimonial h3 {
            margin-bottom: 5px;
        }
        .testimonial p:last-child {
            margin-bottom: 20px;
            font-size: 0.8rem;
        }   
            .testimonial:first-child {
                z-index: 1;
            }
            .quotes {
                position: absolute;
                top: -35px;
                left: 20px;
            }
            .quotes img {
                width: 100%;
            }

.main_footer {
    width: 60%;
    margin: 100px auto;
    text-align: center;
    background: hsl(217, 28%, 15%);
    z-index: 4;
    position: relative;
}
    .main_footer h2 {
        font-size: 2em;
        padding-top: 1em;
    }
    .main_footer p {
        margin: auto 10% 30px 10%;
    }
    .main_footer form {
        padding-bottom: 40px;
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .main_footer input {
        width: 65%;
        padding: 1rem 0 1rem 2.5rem;
        border-radius: 50px;
    }
    .main_footer input, .main_footer_button {
        display: inline-block;
    }
    .main_footer_button button{
        padding: 1rem 2.5rem 1rem 2.5rem;
        border-radius: 50px;
        background: linear-gradient(to right,
        hsl(176, 68%, 64%),
        hsl(198, 60%, 50%)
        );
        color: white;
        border: none;
        cursor: pointer;
    }
        .main_footer_button button:hover {
            background: hsl(176, 68%, 75%);
        }
footer {
    position: relative;
    z-index: 3;
    background: hsl(216, 53%, 9%);
    padding-top: 200px;
    margin-top: -227px;
}
        .footer_logo {
            display: block;
            margin-bottom: 25px;
        }
        .footer_logo img {
            margin-left: 7.55%;
        }
    .footer_container {
        display: flex;
        width: 85%;
        margin: auto;
        justify-content: space-between;
    }
        .maps {
            width: 28%;
            display: flex;
        }
            .maps_icon {
                margin: 5px 20px 0 0;
            }
        .footer_contact, .links {
            flex-direction: column;
        }
            .phone::before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url(images/icon-phone.svg);
                vertical-align: middle;
                margin-right: 20px;
            }
            .phone {
                margin-bottom: 15px;
            }
            .mail::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 16px;
                background: url(images/icon-email.svg);
                vertical-align: middle;
                margin-right: 20px;
            }
        .links a {
            display: block;
            text-decoration: none;
            color: white;
            margin: 8px;
        }
        .links a:hover {
            font-size: 1.2em;
            font-weight: bold;
            transition: .3s;
        }
        .links a:first-child{
            margin-top: 0;
        }
        .social_network {
            width: 11%;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
            .social_network img {
                padding: 4px;
                border: 1px solid white;
                border-radius: 50%;
            }
            .social_network img:hover {
                background: linear-gradient(to right,
                hsl(176, 68%, 64%),
                hsl(198, 60%, 50%)
                );
                border: 5px groove white;
            }
.attribution { 
    margin-top: 80px;
    font-size: 11px; 
    text-align: center; 
    color: gray;
}
.attribution a { 
    color: hsl(176, 68%, 64%);
    opacity: 0.8;
}
.attribution a:hover {
    font-size: 1.2em;
    transition: 1s;
}

/*! On passe aux media query !*/
 @media only screen and (max-width:850px) {
    html {
        font-size: 12px;
    }
    .header {
        position: static;
        margin: auto;
        height: 60px;
    }
        .header_logo {
            margin-top: 16px;
        }
            .header_logo img {
                width: 40%;
                margin-left: 10px;
                margin-top: auto;
                margin-bottom: auto;
            }
        .header_links {
            margin: 16px 5%;
        }
            .header_links a {
                font-size: 0.8rem;
                padding: 0 1em;
                margin-left: 0;
            }
     main {
         width: 90%;
         margin-left: auto;
         margin-right: auto;
     }
    .img_intro img{
        width: 100%;
    }
    .intro {
        width: 100%;
        margin-bottom: 30px;
    }
        .intro h1 {
            font-size: 2rem;
        }
        .intro p {
            width: 90%;
            margin: auto;
        }
        
    .marketing {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 36px;
    }
        .container_marketing {
            display: inline-block;
            width: 100%;
            margin: 20px auto;
        }
            .container_marketing:first-child {
                margin-top: 0;
            }
            .container_marketing:last-child {
                margin-bottom: 0;
            }
    .productive {
        display: flex;
        flex-direction: column;
    }
        .productive_img {
            width: 100%;
        }
        .productive_text {
            width: 100%;
        }
        .productive_text > * {
            width: 100%;
        }
        .productive_text h1 {
            font-size: 1.5rem;
        }
    .testimonials {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
        .testimonial {
            width: 90%;
            margin-bottom: 20px;
            font-size: 0.8rem;
            line-height: 1.4rem;
        }
            .testimonials .testimonial p {
                margin: 20px 15px;
            }
            .testimonials .testimonial p:last-child {
                margin: 0;
                margin-bottom: 10px;
            }
            .testimonial h3 {
                margin: 0;
            }
    .main_footer {
        width: 100%;
        margin-top: 30px;
    }
        .main_footer h2 {
            font-size: 2rem;
        }
        .main_footer form {
            flex-direction: column;
            align-items: center;
        }
            .main_footer form input, .main_footer_button, .main_footer_button button{
                width: 100%;
            }
            .main_footer_button {
                margin-top: 15px;
            }
            .main_footer input {
                font-size: 0.8rem;
            }
    .footer_container {
        flex-direction: column;
    }
        .footer_container > * {
            width: 100%;
            margin-bottom: 15px;
        }
        .links {
            margin-top: 30px;
        }
        .social_network {
            margin-top: 50px;
            justify-content: center;
        }
            .social_network a {
                margin: 0 5px;
            }
        .attribution {
            margin-top: 10px;
        }
 }  
