html {
    width: 1440px;
}
body {
    font-family: Rubik, sans-serif;
    font-size: 16px;
}
    .container-background {
       width: 1440px;
       height: 702px; 
       overflow: hidden;
       margin-bottom: -500px;
       position: absolute;
    }
        .purple-background {
            width: 450px;
            height: 700px;
            background: linear-gradient(to bottom,
            hsl(293, 100%, 63%)15%,
            hsl(264, 100%, 61%)100%);
            background-repeat: no-repeat;
            border-radius: 0 0 50% 50% / 0 0 25% 25% ;
            margin-left: -100px;
            margin-top: -100px;
        }
        .grey-background {
            width: 400px;
            height: 1000px;
            background: linear-gradient(to top,
            hsl(293, 100%, 63%)15%,
            hsl(264, 100%, 61%)100%);
            opacity: 0.05;
            border-radius: 200px;
            float: right;
            margin-right: -100px;
            margin-top: -500px;
            /* TODO : TROUVER LA BONNE COULEUR ou opacity */
        }

    .container-cellphone {
        width: 220px;
        height: 420px;
        background-color: hsl(270, 20%, 96%); overflow: hidden;
        left: 300px;
        top: 100px;
        position: relative;
        border-radius: 15px;
        border: 10px solid white;
        box-shadow: 15px 20px 20px 0 rgba(0, 0, 0, 0.12);
    }
        .header {
            width: 100%;
            height: calc(420px * 0.18);
            line-height: 10px;
            background: linear-gradient(to left,
            hsl(293, 100%, 63%)15%,
            hsl(264, 100%, 61%)100%);
            border-radius: 38% 38% 5px 5px;
        }
            .header * {
                vertical-align: middle;
            }
                .white-div {
                    width: 60%;
                    height: 30px;
                    background-color: white;
                    margin-top: -15px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 10px;
                    margin-bottom: 5px;
                }
                .white_arrow {
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                    margin-left: 15px;
                }
                .samuel_photo {
                    display: inline-block;
                    width: 15%;
                }
                    .sam_photo {
                        width: 20px;
                        border-radius: 50%;
                        border: 1px solid white;
                    }
                .header_text {
                    display: inline-block;
                    width: 40%;
                    margin-left: -10px;
                }
                    h2 {
                        font-size: 11px;
                        color: white;
                        line-height: 30%;
                        opacity: 0.85;
                    }
                    .sub-heading_header {
                        color: hsl(276, 100%, 81%);
                        font-size: 8px;
                        line-height: 50%;
                        opacity: 0.9;
                    }
                .three_points {
                    display: inline-block;
                    font-size: 7px;
                    line-height: 3.5px;
                    color: white;
                    opacity: 0.85;
                    margin-left: 15px;
                }