html {
    width: 1440px;
}
body {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: hsl(270, 20%, 96%); 
}
    .container-background {
       width: 1440px;
       height: 702px; 
       overflow: hidden;
       margin-bottom: -500px;
       position: absolute;
    }
        .purple-background {
            width: 450px;
            height: 700px;
            background: linear-gradient(to bottom,
            hsl(293, 100%, 63%)-10%,
            hsl(264, 100%, 61%)100%);
            background-repeat: no-repeat;
            border-radius: 0 0 50% 50% / 0 0 25% 25% ;
            margin-left: -100px;
            margin-top: -100px;
        }
        .grey-background {
            width: 400px;
            height: 1000px;
            background: linear-gradient(to top,
            hsl(293, 100%, 63%)15%,
            hsl(264, 100%, 61%)100%);
            opacity: 0.02;
            border-radius: 200px;
            float: right;
            margin-right: -100px;
            margin-top: -500px;
        }

    .container-cellphone {
        width: 220px;
        height: 450px;
        background-color: hsl(270, 20%, 96%); 
        overflow: hidden;
        left: 296px;
        top: 100px;
        position: relative;
        border-radius: 15px;
        border: 10px solid white;
        box-shadow: 15px 20px 20px 0 rgba(0, 0, 0, 0.12);
    }
        .header {
            width: 100%;
            height: calc(420px * 0.18);
            line-height: 10px;
            background: linear-gradient(to left,
            hsl(293, 100%, 63%)15%,
            hsl(264, 100%, 61%)100%);
            border-radius: 38% 38% 5px 5px;
        }
            .header * {
                vertical-align: middle;
            }
                .white-div {
                    width: 60%;
                    height: 30px;
                    background-color: white;
                    margin-top: -15px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 10px;
                    margin-bottom: 5px;
                }
                .white_arrow {
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                    margin-left: 15px;
                }
                .samuel_photo {
                    display: inline-block;
                    width: 15%;
                }
                    .sam_photo {
                        width: 20px;
                        border-radius: 50%;
                        border: 1px solid white;
                    }
                .header_text {
                    display: inline-block;
                    width: 40%;
                    margin-left: -10px;
                }
                    h2 {
                        font-size: 11px;
                        color: white;
                        line-height: 30%;
                        opacity: 0.85;
                    }
                    .sub-heading_header {
                        color: hsl(276, 100%, 81%);
                        font-size: 8px;
                        line-height: 50%;
                        opacity: 0.9;
                    }
                .three_points {
                    display: inline-block;
                    font-size: 7px;
                    line-height: 3.5px;
                    color: white;
                    opacity: 0.85;
                    margin-left: 15px;
                }
        .sending-text, .receiving-text {
            font-size: 8px;
            max-width: 57%;
            width: fit-content;
        }
        .sending-text {
            background-color:hsla(270, 30%, 92%);
            color: hsl(276, 55%, 52%);
            margin-left: 10px;
            line-height: 1.3;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 10px 10px 10px 3px;
        }
            .sending-text p {
                padding: 5px 5px;
            }
        .receiving-text {
            background-color:white;
            color: hsl(271, 15%, 43%);
            margin-right: 5px;
            margin-left: auto;
            line-height: 1.3;
            box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.43);
            border-radius: 10px 10px 3px 10px;
        }
            .receiving-text p {
                padding: 5px 7px;
            }
        .receiving-photos {
            display: block;
            text-align: right;
            margin-right: 10px;
            margin-top: 12px;
        }
            .dog_photo {
                display: inline-block;
                width: 43px;
                border-radius: 15px;
                margin-left: 4px;
            }
        .price-proposition {
            width: 70%;
            height: 28px;
            margin-left: 10px;
            margin-bottom: 8px;
            background: linear-gradient(to right,
            hsl(293, 100%, 63%)5%,
            hsl(264, 100%, 61%)80%);
            color: rgba(255, 255, 255, 0.8);
            font-size: 8px;
            position: relative;
            cursor: pointer;
            border-radius: 10px 10px 10px 5px;
        }
           .price-proposition * {
               vertical-align: middle;
               line-height: 3.5;
               cursor: pointer;
           }
                .price {
                    color: white;
                    font-size: 12px;
                    font-weight: 700;
                    position: absolute;
                    right: 15px;
                    line-height: 2.4;
                }
            .radio_input {
                display: none;
            }
            .radio_radio {
                display: inline-block;
                width: 8px;
                height: 8px;
                border: 1.5px solid hsl(289, 100%, 72%);
                border-radius: 50%;
                margin: auto 5px;
            }
            .radio_radio::after {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                background-color: white;
                border-radius: 50%;

                transform: scale(0);
            }
            .radio_input:checked + .radio_radio::after{
                transform: scale(1);
            }
        .container_writing_zone {
            width: 90%;
            height: auto;
            background-color: white;
            font-size: 8px;
            line-height: 1.2;
            display: inline-block;
            margin-left: 11px;
            margin-top: 5px;
            color: hsl(206, 6%, 79%);
            border-radius: 20px;
        }
            .container_writing_zone p {
                padding: 4px 20px;
                display: inline-block;
            }
            .submit_button {
                display: inline-block;
                height: 27px;
                width: 27px;
                background-color: hsl(271, 36%, 24%);
                vertical-align: middle;
                border-radius: 50%;
                margin-left: 60px;
                position: relative;
            }
                .arrow_submit {
                    vertical-align: middle;
                    display: inline-block;
                    border-top: 3px solid white;
                    border-right: 3px solid white;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    position: absolute;
                    top: 35%;
                    bottom: 35%;
                    left: 35%;
                    right: 35%;
                }
    .container_marketing {
        position: relative;
        left: 700px;
        bottom: 200px;
        width: 440px;
        height: auto;
    }
        .container_marketing h1 {
            color: hsl(271, 36%, 24%);
            font-size: 35px;
            line-height: 1.5;
        }
        .container_marketing p {
            color: hsl(270, 7%, 64%);
            opacity: 0.9;
            line-height: 1.6;
        }
